* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #f4f7fc;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #064acb;
    color: white;
    padding: 20px;
    height: 100vh;
    transition: transform 0.3s ease;
}

.sidebar .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.sidebar .nav-links {
    list-style: none;
    padding: 0;
}

.sidebar .nav-links li {
    margin: 15px 0;
}

.sidebar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar .nav-links a:hover {
    background-color: #193e83;
}

/* Main Content */
h2{
    padding-bottom: 30px;
}
.main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

header .logout-btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
}

header .logout-btn:hover {
    background-color: #c0392b;
}

.content h3 {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 15px;
}

.content p {
    font-size: 1.1em;
    color: #7f8c8d;
}

/* Navbar Hamburger */
.toggle-sidebar-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    font-weight:700;
}

/* Menyembunyikan tombol hamburger saat sidebar terbuka */
.hide-hamburger {
    display: none;
}

/* Media Queries: Styles for mobile devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100vh;
        transition: left 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }

    .toggle-sidebar-btn {
        display: block;
    }

    .main-content {
        padding: 15px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header .logout-btn {
        margin-top: 0px;
        width: 20%;
    }

    .sidebar .nav-links a {
        padding: 12px;
        font-size: 1em;
    }
    button.clicked {
    color: white;
    font-weight: 700;  /* Warna merah saat tombol diklik */
}
}