.select-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;  /* Centering container */
}
.select-box {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    appearance: none; 
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.select-box:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
}
.export-btn{
    margin: 20px auto;
    text-align: left;
    padding: 10px 20px;
    background-color: #32d83a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.export-btn:hover{
    background-color: #45a049;
}